<head>
    <title>Log-in</title>
    
</head>

<body>
    <div class="form-container">
        <form action="" method="post">
            <h3>Log-in</h3>
            <input type="email" name="email" required placeholder="enter e-mail" class="box"><br>
            <input type="password" name="password" required placeholder="enter password" class="box"><br>
            <input type="submit" name="submit" class="btn"  value="login now"><br>
            <p>don't have an account?<a routerLink="/register" >Register now</a></p>
        </form>


    </div>
</body>