<head>
    <title>Register</title>
    
</head>

<body>
    <div class="form-container">
        <form action="" method="post">
            <h3>Register</h3>
            <input type="text" name="name" required placeholder="enter username" class="box"><br>
            <input type="email" name="email" required placeholder="enter e-mail" class="box"><br>
            <input type="password" name="password" required placeholder="enter password" class="box"><br>
            <input type="password" name="cpassword" required placeholder="confirm username" class="box"><br>
            <input type="submit" name="submit" class="btn"  value="register now"><br>
            <p>already have an account?<a routerLink="/login">Log-in</a></p>
        </form>


    </div>
</body>