<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Picture</th>
            <th>CategoryName</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataProduct">
            <td>{{data.productId}}</td>
            <td>{{data.productName}}</td>
            <td>{{data.price}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.picture}}</td>
            <td style="width:300px">
            <a role="button" class="btn btn-info text-white" data-toggle="modal" data-target="#modalView" (click)="showdetail(data.productId)"><i class="fas fa-eye" ></i>View</a>
            <a role="button" class="btn btn-warning text-white"  data-toggle="modal" data-target="#modalUpdate" (click)="showdetail(data.productId)"><i class="fas fa-edit"></i>Edit</a>
            <a role="button" class="btn btn-danger text-white" data-toggle="modal" data-target="#modalDelete"><i class="fas fa-trash-alt"></i>Delete</a>
            </td>
        </tr>
    </tbody>
</table>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">
  Add New Product
</button>

<!-- Modal for add Product -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProducts()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_name" placeholder="Product Name" [(ngModel)]="dataProductAdd.productName">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_price" placeholder="Product Price" [(ngModel)]="dataProductAdd.price">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Quantity</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_quantity" placeholder="Product Name" [(ngModel)]="dataProductAdd.quantity">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Picture</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_picture" placeholder="Product Picture" [(ngModel)]="dataProductAdd.picture">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Category Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_Categoryname" placeholder="Category Name" [(ngModel)]="dataProductAdd.categoryName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="AddNewProduct()">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Edit -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EditProduct</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProducts()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form *ngFor="let data of dataProduct">
                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_ID" placeholder="Product ID" [(ngModel)]="data.productId">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_name" placeholder="Product Name" [(ngModel)]="data.productName">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_price" placeholder="Product Price" [(ngModel)]="data.price">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Quantity</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_quantity" placeholder="Product Quantity" [(ngModel)]="data.quantity">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Picture</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_picture" placeholder="Product Picture" [(ngModel)]="data.picture">
                        </div>
                    </div>

                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">Category Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_Categoryname" placeholder="Category Name" [(ngModel)]="data.categoryName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showProducts()">Close</button>
                <button type="button" class="btn btn-primary" (click)="UpdateProduct()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EditProduct</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProducts()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="formgroup row">
                        <label for="inputName" class="col-sm-3 col-form-label">ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="product_ID" placeholder="Product ID" [(ngModel)]="dataDeleteProduct.productId">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showProducts()">Close</button>
                <button type="button" class="btn btn-primary" (click)="DeleteProduct(dataDeleteProduct.productId)">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for View Product -->
<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Show Product Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showProducts()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body" *ngFor="let info of dataProduct">
                <div class="row">
                    <div class="col-md-3">Id</div>
                    <div class="col-md-9">{{info.productId}}</div>
                </div>

                <div class="row" >
                    <div class="col-md-3">Name</div>
                    <div class="col-md-9">{{info.productName}}</div>
                </div>

                <div class="row" >
                    <div class="col-md-3">Price</div>
                    <div class="col-md-9">{{info.price}}</div>
                </div>

                <div class="row" >
                    <div class="col-md-3">Quantity</div>
                    <div class="col-md-9">{{info.quantity}}</div>
                </div>

                <div class="row" >
                    <div class="col-md-3">Link Picture</div>
                    <div class="col-md-9">{{info.picture}}</div>
                </div>

                <div class="row" >
                    <div class="col-md-3">Category Name</div>
                    <div class="col-md-9">{{info.categoryName}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showProducts()">Close</button>
            </div>
        </div>
    </div>
</div>

